@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?q=80&w=2070');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

/* --- Анимация --- */
@layer utilities {
    @keyframes pulse {
        50% {
            opacity: .7;
        }
    }
    .animate-pulse-slow {
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
}
